#custom-window {
	display: flex;
	width: calc(min(300px, 100vw));
	background-color: white;
	flex-direction: column;
}

#custom-window .row {
	padding: 4px;
	display: flex;
	flex-direction: row;
}

#custom-window .row > *:first-child {
	flex-grow: 1;
}

#custom-window input {
	width: 175px;
}
